[Unit]
Description=RadarPlane Stats

[Service]
Type=simple
SyslogIdentifier=radarplane-stats
ExecStart=/usr/local/share/radarplane-stats/json-status
RuntimeDirectory=radarplane-stats
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=adsbexchange
Nice=19
IOSchedulingClass=idle


[Install]
WantedBy=multi-user.target
